*{
	font-family: 'Roboto';
}

body{
	overflow-x: hidden;
	min-height: 100vh;
}

/* Header */

.top-nav{
	display: flex;
	align-items: flex-end;
	justify-content: end;
	width: 100%;
	padding-left: 0;
	margin-top: 5px;

}

.top-nav img, #sidebar img{
	width: auto;
	height: auto;
	max-width: 40px;
	max-height: 40px;

}

.top-nav li{
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0px 25px 0px 25px;
	align-items: center;
}

.top-nav a{
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-nav .panier{
	position: relative;
}

.top-nav .totalArticle{
	position: absolute;
	top: 9px;
	left: 4.5px;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}

/* slid out */

#sidebar{
	position: absolute;
	width: 23%;
	left: -23%;
	background-color: #323232;
	transition: 0.5s;
	z-index: 2;
	top: 0;
}

#sidebar ul li{
	list-style: none;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 5px;
}

#sidebar .toggleBtn{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 15px;
	left: 110%;
	cursor: pointer;
}

#sidebar.active{
	left: 0;
	transition: 0.5s;
}

.profilRecap{
	height: 250px;
	background-color: #10AC84;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}



#sidebar a{
	color: #ffffff;
}

#sidebar .initial{
	border: solid 5px #ffffff;
	display: flex;
	justify-content: center;
	border-radius: 100%;
	width: 130px;
	height: 130px;
	align-self: center;
	background-color: #0F8869;
}

#sidebar h2{
	color: #ffffff;
	text-align: center;

	font-size: 70px;
}

.profilRecap .name{
	color: #ffffff;
	padding-top: 10px;
	font-weight: bold;
	font-size: 25px;
}

.profilRecap p{
	color: #ffffff;
	font-weight: 550;
}

/* page index */

.indexPage{
	margin-top: 15px;
	overflow: hidden;
	background: url("../images/bgHeader.jpg") no-repeat;
	height: 90vh;
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
	box-shadow: 0px -1px 11px rgba(0,0,0,0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title{
	padding-top: 10%;
}

.indexPage h1 span {
	width: 10%;
	background: #747474;
	display: inline-block;
	height: 10px;
	vertical-align: middle;
	margin-left: 0.5em;
	margin-right: 0.5em;

}

.indexPage h1 label {
	color: #10AC84;
}

.indexPage h1{
	font-size: 3.5em;
	margin: 0.5em 0 0.01em;
	color: #000000;
	font-weight: bold;
}

.indexPage p{
	font-size: 2em;
	margin: 0.5em 0 2em;
}

.about-head{
	margin-top: 30px;
}

.about-head h3{
	font-size: 30px;
	color: #10AC84;
	text-transform: uppercase;
	border-bottom: 1px solid #868686;
	display: inline-block;
	padding-bottom: 11px;
}

.about-head p {
	color: #ADADAD;
	margin: 0;
	font-size: 22px;
	width: 50%;
	margin: 0 auto;
}

.address-info {
	background: url(../images/address-bg.png) no-repeat 0px 0px;
	min-height: 240px;
	position: absolute;
	left: 41%;
	top: -37%;
	width: 210px;
	margin: 0 auto;
	padding: 2.5em 1em;
	margin-top: 80px;
	color: #ffffff;
}

.address-info h3{
	font-size: 30px;
}

.address-info p{
	text-align: center;
	font-size: 17px;
}

.address {
	margin-top: 200px;
	position: relative;
}

.map{
	display: flex;
	justify-content: center;
	z-index: -1;
}

.map iframe {
	margin-top: 60px;
	width: 85%;
	min-height: 300px;
	border: none;
}

/* page fruit */

.bgHeaderFruits{
	width: 100%;
	height: 300px;
	background-image: url(../images/fruitBg.jpg);
	background-size: 1920px;
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
	box-shadow: 0px -1px 11px rgba(0,0,0,0.4);
	background-size: 100%;

}

.bgHeaderLegume{
	width: 100%;
	height: 300px;
	background-image: url(../images/legumeBg.jpg);
	background-size: 1920px;
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
	box-shadow: 0px -1px 11px rgba(0,0,0,0.4);
	background-size: 100%;
}

.bgHeaderPanier{
	width: 100%;
	height: 300px;
	background-image: url(../images/primeurBg.jpg);
	background-size: 1920px;
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
	box-shadow: 0px -1px 11px rgba(0,0,0,0.4);
	background-size: 100%;
	background-position: top;
}
.containerTitle{
	margin-top: 20px;
}

.containerTitle h1{
	margin-top: 40px;
	font-size: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.containerTitle h1 span{
	width:50%;
	background: #0F8869;
	display: inline-block;
	height: 3px;
	vertical-align: middle;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.allArticle{
	display: flex;
	flex-wrap: wrap;
}

.article{
	width: 175px;
	height: 340px;
	margin-left: 170px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.article img{
	height: 175px;
	width: 175px;
}

.article .containerNamePrice{
	display: flex;
	justify-content: space-between;
}

.article p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 23px;
}

.article .nameArticle{
	max-width: 65%;
	text-align: left;
	height: 46px;

}

.article .priceArticle span{
	position: absolute;
	top: 22px;
	left: 0px;
	width: 100%;
	height: 2px;
	border: 2px solid #0F8869;
}

.article .priceArticle{
	max-width: 30%;
	position: relative;
}

.article .containerProvenanceSubmit{
	display: flex;
	justify-content: space-between;
}

.article .provenanceArticle{
	font-size: 16px;
	color: #606060;
	max-width: 69%;
	height: 46px;
}

.article button{
	max-width: 30%;
	height: 45px;
	background-color: transparent;
	border: none;
}

.article button img{
	max-width: 42px;;
	height: auto;
}

.triangleTopRight {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 75px solid #10AC84;
	border-left: 75px solid transparent;
	right: 0;
	top: 0;
}

.textTriangle{
	position: absolute;
	right: 10px;
	top: 5px;
	color: #ffffff;
	font-weight: bold;
	font-size: 30px;
}

.filtre {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
	margin: 20px 0px 20px 170px;
	align-items: center;
}

/* Hide the browser's default checkbox */
.filtre input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.filtre .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
	background-color: #eee;
	border: solid 1px #ADADAD;
}

/* On mouse-over, add a grey background color */
.filtre:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filtre input:checked ~ .checkmark {
  background-color: #0F8869;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filtre input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filtre .checkmark:after {
  left: 8px;
  top: 3px;
  width: 9px;
  height: 13px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.allFiltre{
	display: flex;
}

.allFiltre label{
	font-size: 20px;
	font-weight: normal;
}

/* page panier */

.containerAllPanier{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.panierVide{
	text-align: center;
	font-size: 30px;
	color: #4A4A4A;
	margin-top: 40px;
}

.containerAllArticle{
	width: 60%;
	font-size: 18px;
	border: solid 1px #DDDDDD;
	margin-bottom: 20px;
	height: auto;
}

.headPanier{
	display: flex;
	align-items: center;
	background-color: #F8F6F6;
	font-size: 18px;
	height: 65px;
	text-transform: uppercase;
}

.containerArticle{
	display: flex;
	border-bottom: solid 1px #ECECEC;
	padding-top: 15px;
	height: 120px;
}

.containerAllArticle .photoArticle{
	width : 22.5%;
	margin-left: 25px;
}

.photoArticle img{
	max-width: 100px;
	max-height: 100px;
}

.containerAllArticle .nameArticle{
	width: 30%;
}

.containerAllArticle .quantityArticle{
	width: 23%;
}

.containerAllArticle .priceArticle{
	width: 15%;
}

.containerAllArticle .delArticle{
	width: 7.80%;
	padding-bottom: 18px;
}

.containerAllArticle .delArticle a{
	width: 30px;
	height: 30px;
	background-color: #F64747;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
}

.containerAllArticle *{
	display: flex;
	align-items: center;
}

.containerQuantity{
	border: solid 1px #6C6C6C;
	border-radius: 5px;
}

.inputQuantity{
	background-color: #ffffff;
	border: none;
	border-radius: 6px;
	width: 27px;
}

.viewQuantity{
	width: 30px;
	display: flex;
	justify-content: center;
	border-left: solid 1px #6C6C6C;
	border-right: solid 1px #6C6C6C;
}

.titleTotal{
	color: #10AC84;
	font-size: 20px;
	border-bottom: solid 1px #DDDDDD;
	text-align: center;
	padding-bottom: 20px;
}

.totalPanier{
	border: solid 2px #DDDDDD;
	height: 100%;
	padding: 10px 30px 30px 30px;
	width: 25%;
}

.totalAppro{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 400;
	border-bottom: solid 1px #DDDDDD;
	padding-bottom: 15px;
}

.avertissement{
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff5f4;
	border: 2px solid #F64747;
	border-radius: 10px;
	width: 60%;
}

.titleRemise{
	font-size: 18px;
	font-weight: 500;
	padding-top: 10px;
}

.livraisonEmporter{
	display: flex;
	cursor: pointer;
	position: relative;
	border: 2px solid #4A4A4A;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 20px;
	align-items: center;
	font-size: 18px;
}

.livraisonEmporter .checkmark {
	position: relative;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

.livraisonEmporter:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.livraisonEmporter input:checked ~ .checkmark {
  background-color: #10AC84;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.livraisonEmporter .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.livraisonEmporter input:checked ~ .checkmark:after {
  display: block;
}



/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.totalPanier input[type="radio"]{
	position: absolute;
	width: 100%;
	height: 100%;
  opacity: 0;
	cursor: pointer;
}

.livraisonEmporter p{
	margin-bottom: 0;
	margin-left: 30px;
}

.containerRemise{
	border-bottom: solid 1px #DDDDDD;
}

.titleDate{
	font-size: 18px;
	padding-top: 15px;
}

.dateLivraison{
	position: relative;
}

.dateLivraison select{
	width: 100%;
	height: 40px;
	border: 2px solid #4A4A4A;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
	-moz-appearance: none;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.dateLivraison select option {
	word-spacing: 150%;
	font-size: 18px;
}

.dateLivraison img{
	position: absolute;
	top: 6px;
	left: 10px;
	width: auto;
	height: auto;
	max-width: 25px;
	max-height: 25px;
	z-index: 3;
}

#commandSubmit{
	background-color: #4A4A4A;
	border: none;
	border-radius: 40px;
	color: #ffffff;
	width: 70%;
	height: 40px;
	font-size: 18px;
	margin-top: 20px;
}

.containerSubmitTotal{
	display: flex;
	justify-content: center;
}

.noAdress{
	position: absolute;
	top: 50%; left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	width: 30%;
}

.containerPopup{
	display: flex;
	justify-content: space-between;
}

.titlePopup{
	margin-top: 0px;
}

.closePopup{
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
	font-size: 25px;
}



#overlayAdresse {
	position: fixed;
	z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
}

/* Page connexion + inscription */

.backlogin {
	height: 100vh;
	width: 100%;
	overflow-y: hidden;
}

.groundlogin {
	background-image: url(../images/primeurBg.jpg);
	background-repeat:no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100%;
}

.backgroundcolor {
	background-color: rgba(16, 172, 132, 0.95);
	height: 100%;
	width: 100%;
}

.coo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.coo input {
	margin: 10px;
	background: #FFFFFF;
	border-radius: 150px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 28px;
	width: 350px;
	height: 50px;
	border: none;
}

#coordonne {
	padding-left: 65px;
}


.coo a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 23px;
	color: #CCCCCC;
	margin: 5px;
}

#button_coo {
	background: #4A4A4A;
	border-radius: 150px;
	color: #FFFFFF;
}

#connexion {
	margin-top: 100px;
	color: #ffffff;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
}

.imgconnexion {
	position: relative;
}

#enveloppe {
	position: absolute;
	width: 32px;
	height: 24px;
	left: 28px;
	top: 23px;
}

#key {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 29px;
	top: 20px;
}

#buttonInscription {
	background: transparent;
	border: none;
	color: #CCCCCC;
	margin-top: 5px;
	font-size: 15px;
	line-height: 23px;
	font-weight: 500;
	text-align: center;

}

#buttonInscription:hover {
	text-decoration: underline;
}

#inscription_onclick {
	display: flex;
	background-color: #ffffff;
	width: 75%;
	height: 530px;
	border-radius: 50px;
	margin-top: 80px;
	flex-direction: column;
	align-items: center;
}

#inscription_onclick h2 {
	margin-top: 20px;
	color: #10AC84;
	font-weight: bold;
	font-size: 32px;
	line-height: 33px;
	position: relative;
}

#inscription_onclick h3 {
	align-self: flex-start;
	margin-left: 113px;
}

#inscription_onclick h2 span {
	position: absolute;
	width:  72px;
	height: 0;
	border: 3px solid #10AC84;
	border-radius: 4px;
	top: 40px;
	left: 32px;
}

.close_inscription {
	position: absolute;
	right: 240px;
	top: 90px;
	font-size: 50px;
	color: #F64747;
	cursor: pointer;
}

.first_contenant {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100%;
}

.first_contenant input{
	width: 100%;
	margin-bottom: 15px;
	border: 3px solid #10AC84;
	box-sizing: border-box;
	border-radius: 10px;
	height: 30px;
}

.first_contenant input:invalid{
	border-color: #ff5252;
	box-shadow: none;
}

.first_contenant span {
	text-align: left;
}

.red {
	color: red;
}
.inscription {
	display: flex;
	align-items: center;
	padding: 0px 60px 30px 60px ;
	width: 100%;
	justify-content: space-around;
	margin-top: 10px;
}

#background_inscription {
	position: absolute;
	display: none;
	top: 75px;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	justify-content: center;
}

.button_inscription {
	float: right;
	background: #10AC84;
	border-radius: 170px;
	border: none;
	color: #FFFFFF;
	height: 40px;
	width: 150px;
	margin-top: 10px;
}

.input_inscription {
	position: relative;
	display: inline-block;
}

.body {
	height: 100vh;
	overflow-y: hidden;
}




/* page profil */

.containerBlocProfil{
	width: 75%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
}

.headerProfil{
	display: flex;
	justify-content: space-between;
	height: 41px;
	align-items: center;
}

.headerProfil .modifProfil a{
	padding: 8px 20px 8px 20px;
	border-radius: 40px;
	color: #ffffff;
	background-color: #4A4A4A;
	font-size: 18px;
}

.modifProfil #firstButton{
	margin-right: 30px;
}

.headerProfil h2{
	margin: 0;
}

.containerInformations{
	margin-top: 40px;
}

.informationProfil{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	border-bottom: solid 1px #000000;
	margin-bottom: 15px;
}

.spanModifUser{
	width: 35% !important;
}

/* page update profil */

.containerPartsUpdate{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
}

.errorPassword{
	font-size: 20px;
	color: #ff5252;
}

 .informationUpdateContainer{
	width: 40%;
	margin-bottom: 20px;
}

#containerModifPassword{
	margin-left: 5%;
	margin-top: 40px;
}

.informationUpdateContainer h2{
	border-bottom: 2px solid #CDCDCD;
	padding-bottom: 10px;
	font-size: 23px;
}

.containerInputUpdate{
	display: flex;
	margin-top: 15px;
}

.containerInputUpdate p{
width: 150px;
color: #0F8869;
}

.containerInputUpdate input[type=text], .containerInputUpdate input[type=password], .containerInputUpdate input[type=tel]{
	width: 400px;
	height: 30px;
}

.containerSubmitUpdate{
	width: 40%;
	margin-left: 5%;
	margin-top: 15px;
	margin-bottom: 30px;
}

.containerSubmitUpdate input[type=submit]{
	justify-self: flex-start;
	border: none;
	background-color: #4A4A4A;
	color: #ffffff;
	border-radius: 40px;
	height: 40px;
	width: 150px;
	font-size: 17px;
}

/* page commande */

.containerAllCommandes{
	margin: 20px 236px 0px 236px;
}

.headerCommande{
	display: flex;
	background-color: #F8F6F6;
	height: 90px;
	align-items: center;
}

.headerCommande > *{
	margin-right: 40px;
	font-size: 13px;
}

.dateCommandeRecap{
	margin-left: 20px;
}

.headerCommande .idCommande{
	margin-left: auto;
}

.bodyCommande img{
	max-height: 100px;
	max-width: 100px;
}

.photoArticleCommande{
	width: 220px;
	display: flex;
	justify-content: center;
}

.containerCommande{
	border: solid 1px #ECECEC;
	margin-bottom: 25px;
}

.containerAddToPanier{
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 35px;
}

.containerAddToPanier img{
	height: 35px;
	width: 35px;
}

.containerAddToPanier button{
	background: none;
	border: none;
	z-index: 3;
}

.containerAddToPanier button span{
	border-bottom: solid 1px #0F8869;
	margin-right: 10px;
}

/* header admin */

.containerAlign{
	display: flex;
	width: 100%;
	justify-content: center;
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

.containerHeaderAdmin{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F6F2F2;
	border: 1px solid #eee;
	border-radius: 10px;
	width: 90%;
	height: 80px;
}

.containerAlign p{
	color: #505050;
	font-size: 16px;
	position: absolute;
	left: 7%;
	top: 25px;
}

.containerHeaderAdmin ul{
	display: flex;
	list-style: none;
	padding: 0;
}

.containerHeaderAdmin ul li{
	margin-left: 25px;
}

.containerHeaderAdmin ul li a{
	color: #000000;
	transition: 0.3s;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}

.containerHeaderAdmin ul li a:hover{
	color: #0F8869;
}

/* add article Form */

/* .formAddArticle{
	display: flex;
} */