*{
	font-family: 'Roboto';
}

body{
	overflow-x: hidden;
}

/* Header */

.top-nav{
	display: flex;
	align-items: flex-end;
	justify-content: end;
	width: 100%;
	padding-left: 0;
	margin-top: 5px;

}

.top-nav img, #sidebar img{
	width: auto;
	height: auto;
	max-width: 40px;
	max-height: 40px;
}

.top-nav li{
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0px 25px 0px 25px;
	align-items: center;
}

.top-nav a{
	color: black;
}

.top-nav .panier{
	position: relative;
}

.top-nav .totalArticle{
	position: absolute;
	top: 9px;
	left: 4.5px;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}

/* slid out */

#sidebar{
	position: absolute;
	width: 23%;
	left: -23%;
	background-color: #323232;
	transition: 0.5s;
	z-index: 2;
	top: 0;
}

#sidebar ul li{
	list-style: none;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 5px;
}

#sidebar .toggleBtn{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 15px;
	left: 110%;
	color:  #10AC84;
	cursor: pointer;
}

#sidebar.active{
	left: 0;
	transition: 0.5s;
}

.profilRecap{
	height: 250px;
	background-color: #10AC84;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}



#sidebar a{
	color: #ffffff;
}

#sidebar .initial{
	border: solid 5px #ffffff;
	display: flex;
	justify-content: center;
	border-radius: 100%;
	width: 130px;
	height: 130px;
	align-self: center;
	background-color: #0F8869;
}

#sidebar h2{
	color: #ffffff;
	text-align: center;

	font-size: 70px;
}

.profilRecap .name{
	color: #ffffff;
	padding-top: 10px;
	font-weight: bold;
	font-size: 25px;
}

.profilRecap p{
	color: #ffffff;
	font-weight: 550;
}

/* page index */

.indexPage{
	margin-top: 15px;
	overflow: hidden;
	background: url("../images/bgHeader.jpg") no-repeat;
	height: 90vh;
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
	box-shadow: 0px -1px 11px rgba(0,0,0,0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title{
	padding-top: 10%;
}

.indexPage h1 span {
	width: 10%;
	background: #747474;
	display: inline-block;
	height: 10px;
	vertical-align: middle;
	margin-left: 0.5em;
	margin-right: 0.5em;
	
}

.indexPage h1 label {
	color: #10AC84;
}

.indexPage h1{
	font-size: 3.5em;
	margin: 0.5em 0 0.01em;
	color: #000000;
	font-weight: bold;
}

.indexPage p{
	font-size: 2em;
	margin: 0.5em 0 2em;
}

.about-head{
	margin-top: 30px;
}

.about-head h3{
	font-size: 30px;
	color: #10AC84;
	text-transform: uppercase;
	border-bottom: 1px solid #868686;
	display: inline-block;
	padding-bottom: 11px;
}

.about-head p {
	color: #ADADAD;
	margin: 0;
	font-size: 22px;
	width: 50%;
	margin: 0 auto;
}

.address-info {
	background: url(../images/address-bg.png) no-repeat 0px 0px;
	min-height: 240px;
	position: absolute;
	left: 41%;
	top: -37%;
	width: 210px;
	margin: 0 auto;
	padding: 2.5em 1em;
	margin-top: 80px;
	color: #ffffff;
}

.address-info h3{
	font-size: 30px;
}

.address-info p{
	text-align: center;
	font-size: 17px;
}

.address {
	margin-top: 200px;
	position: relative;
}

.map{
	display: flex;
	justify-content: center;
	z-index: -1;
}

.map iframe {
	margin-top: 60px;
	width: 85%;
	min-height: 300px;
	border: none;
}

/* page fruit */

.bgHeaderFruits{
	width: 100%;
	height: 300px;
	background-image: url(../images/fruitBg.jpg);
	background-size: 1920px;
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
	box-shadow: 0px -1px 11px rgba(0,0,0,0.4);
}

.containerTitle{
	margin-top: 20px;
}

.containerTitle h1{
	margin-top: 40px;
	font-size: 35px;
}

.containerTitle h1 span{
	width: 35%;
	background: #0F8869;
	display: inline-block;
	height: 3px;
	vertical-align: middle;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.allArticle{
	display: flex;
	flex-wrap: wrap;
}

.article{
	width: 175px;
	height: 340px;
	margin-left: 170px;
	display: flex;
	flex-direction: column;
}

.article img{
	height: 175px;
	width: 175px;
}

.article .containerNamePrice{
	display: flex;
}

<<<<<<< HEAD
table{
	width: 100%;
	text-align: left;
=======
.article p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 23px;
>>>>>>> 052b084b25cd8f82d27ab67edc185bed65236108
}

.article .nameArticle{
	width: 65%;
	text-align: left;

}

.article .priceArticle span{
	position: absolute;
	top: 22px;
	left: 20px;
	width: 70%;
	height: 2px;
	border: 2px solid #0F8869;
}

.article .priceArticle{
	width: 30%;
	position: relative;
	text-align: right;
}

.article .provenanceArticle{
	font-size: 16px;
	color: #606060;
}